<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Infobip.Api.Client" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="NLog" version="5.2.7" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net472" />
  <package id="NLog.Schema" version="5.2.7" targetFramework="net472" />
  <package id="Polly" version="7.2.3" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
</packages>